/* ========================================================================
 * BOOTSTRAP OVERRIDE
 * ======================================================================== */
.row {
  margin-left: -10px;
  margin-right: -10px;
}

.row-merge {
  margin: 0;
}
.row-merge > [class*="col-"] {
  padding: 0;
}

.col-xs-1, .col-xs-2,
.col-xs-3, .col-xs-4,
.col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8,
.col-xs-9, .col-xs-10,
.col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2,
.col-sm-3, .col-sm-4,
.col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8,
.col-sm-9, .col-sm-10,
.col-sm-11, .col-sm-12,
.col-md-1, .col-md-2,
.col-md-3, .col-md-4,
.col-md-5, .col-md-6,
.col-md-7, .col-md-8,
.col-md-9, .col-md-10,
.col-md-11, .col-md-12,
.col-lg-1, .col-lg-2,
.col-lg-3, .col-lg-4,
.col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8,
.col-lg-9, .col-lg-10,
.col-lg-11, .col-lg-12 {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-toggle .icon-bar {
  background-color: #ffffff;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
/* ========================================================================
 * PRELOADER
 * ======================================================================== */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  z-index: 1000;
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}

.loaded #loader-wrapper {
  visibility: hidden;
}
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.loader-brand {
  z-index: 99999;
  display: block;
  position: relative;
  top: 40%;
  width: 85px;
  height: 66px;
  margin: 0 auto;
}

.loader-text {
  color: #FFF;
  letter-spacing: 4px;
  font-size: 14px;
}

.sk-chasing-dots {
  margin: 20px auto;
}
.sk-chasing-dots .sk-child {
  background-color: #FFFFFF;
}

/* ========================================================================
 * CUBEPORTFOLIO
 * ======================================================================== */
.cbp-l-caption-buttonLeft, .cbp-l-caption-buttonRight {
  text-transform: capitalize;
}
.cbp-l-caption-buttonLeft:hover, .cbp-l-caption-buttonRight:hover {
  color: #ffffff;
}

.cbp-l-inline-desc,
.cbp-l-inline-title,
.cbp-l-inline-subtitle,
.cbp-l-inline-view,
.cbp-l-filters-button .cbp-filter-item,
.cbp-l-caption-title,
.cbp-l-caption-desc,
.cbp-search-input,
.cbp-l-loadMore-button .cbp-l-loadMore-link, .cbp-l-loadMore-button .cbp-l-loadMore-button-link {
  font-family: "proxima-nova" !important;
}

.cbp-l-caption-alignCenter .cbp-l-caption-buttonLeft:hover, .cbp-l-caption-alignCenter .cbp-l-caption-buttonLeft:active, .cbp-l-caption-alignCenter .cbp-l-caption-buttonLeft:focus, .cbp-l-caption-alignCenter .cbp-l-caption-buttonLeft:visited, .cbp-l-caption-alignCenter .cbp-l-caption-buttonRight:hover, .cbp-l-caption-alignCenter .cbp-l-caption-buttonRight:active, .cbp-l-caption-alignCenter .cbp-l-caption-buttonRight:focus, .cbp-l-caption-alignCenter .cbp-l-caption-buttonRight:visited {
  color: #FFFFFF !important;
}

.cbp-popup-singlePageInline .cbp-popup-close {
  top: 40px;
}

/* ========================================================================
 * SLIDER REVOLUTION
 * ======================================================================== */
.tp-caption.NotGeneric-Title, .NotGeneric-Title,
.tp-caption.NotGeneric-SubTitle, .NotGeneric-SubTitle,
.tp-caption.Hero-Button, .Hero-Button {
  font-family: "proxima-nova" !important;
}
