.administration {
  padding-top: 20px;
}
.administration * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.director {
  padding: 20px 10px;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

.administration a:focus {
  outline: 2px dashed #f7f7f7;
}

ul.administration {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.administration li {
  list-style: none;
}

ul.administration a {
  display: block;
  background: #ccc;
  border: 4px solid #fff;
  text-align: center;
  overflow: hidden;
  font-size: .9em;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  height: 70px;
  margin-bottom: -26px;
  box-shadow: 4px 4px 9px -4px rgba(0, 0, 0, 0.4);
  -webkit-transition: all linear .1s;
  -moz-transition: all linear .1s;
  transition: all linear .1s;
}

@media all and (max-width: 767px) {
  ul.administration a {
    font-size: 1em;
  }
}
ul.administration a span {
  top: 50%;
  margin-top: -0.7em;
  display: block;
}

/*

 */
.administration > li > a {
  margin-bottom: 25px;
}

.director > li > a {
  width: 50%;
  margin: 0 auto 0px auto;
}

.subdirector:after {
  content: "";
  display: block;
  width: 0;
  height: 130px;
  background: red;
  border-left: 4px solid #fff;
  left: 45.45%;
  position: relative;
}

.subdirector,
.departments {
  position: absolute;
  width: 100%;
  padding: 0;
}

.subdirector > li:first-child,
.departments > li:first-child {
  width: 18.59894921190893%;
  height: 64px;
  margin: 0 auto 92px auto;
  padding-top: 25px;
  border-bottom: 4px solid white;
  z-index: 1;
}

.subdirector > li:first-child {
  float: right;
  right: 27.2%;
  border-left: 4px solid white;
}

.departments > li:first-child {
  float: left;
  left: 27.2%;
  border-right: 4px solid white;
}

.subdirector > li:first-child a,
.departments > li:first-child a {
  width: 100%;
}

.subdirector > li:first-child a {
  left: 25px;
}

@media all and (max-width: 767px) {
  .subdirector > li:first-child,
  .departments > li:first-child {
    width: 40%;
  }

  .subdirector > li:first-child {
    right: 10%;
    margin-right: 2px;
  }

  .subdirector:after {
    left: 49.8%;
  }

  .departments > li:first-child {
    left: 10%;
    margin-left: 2px;
  }
}
.departments > li:first-child a {
  right: 25px;
}

.department:first-child,
.departments li:nth-child(2) {
  margin-left: 0;
  clear: left;
}

.departments:after {
  content: "";
  display: block;
  position: absolute;
  width: 81.1%;
  height: 22px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  border-left: 4px solid #fff;
  margin: 0 auto;
  top: 134px;
  left: 9.1%;
}

@media all and (max-width: 767px) {
  .departments:after {
    border-right: none;
    left: 0;
    width: 49.8%;
  }
}
@media all and (min-width: 768px) {
  .department:first-child:before,
  .department:last-child:before {
    border: none;
  }
}
.department:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 22px;
  border-left: 4px solid white;
  z-index: 1;
  top: -22px;
  left: 50%;
  margin-left: -4px;
}

.department {
  border-left: 4px solid #fff;
  width: 18.59894921190893%;
  float: left;
  margin-left: 1.751313485113835%;
  margin-bottom: 60px;
}

.lt-ie8 .department {
  width: 18.25%;
}

@media all and (max-width: 767px) {
  .department {
    float: none;
    width: 100%;
    margin-left: 0;
  }

  .department:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 60px;
    border-left: 4px solid white;
    z-index: 1;
    top: -60px;
    left: 0%;
    margin-left: -4px;
  }

  .department:nth-child(2):before {
    display: none;
  }
}
.department > a {
  margin: 0 0 -26px -4px;
  z-index: 1;
}

.department > a:hover {
  height: 80px;
}

.department > ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.department li {
  padding-left: 25px;
  border-bottom: 4px solid #fff;
  height: 80px;
}

.department li a {
  background: #fff;
  top: 48px;
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 60px;
  vertical-align: middle;
  right: -1px;
}

.department li a:hover {
  box-shadow: 8px 8px 9px -4px rgba(0, 0, 0, 0.1);
  height: 80px;
  width: 95%;
  top: 39px;
  background-image: none !important;
}

/* Department/ section colors */
.department.dep-a a {
  background: #FFD600;
}

.department.dep-b a {
  background: #AAD4E7;
}

.department.dep-c a {
  background: #FDB0FD;
}

.department.dep-d a {
  background: #A3A2A2;
}

.department.dep-e a {
  background: #f0f0f0;
}
