/* ========================================================================
 * PLUGIN - PRELOADER
 * ======================================================================== */
#loader-wrapper .loader-section {
  background-color: #8BC4B9;
}

/* ========================================================================
 * SECTION - BANNER
 * ======================================================================== */
@media (max-width: 640px) {
  #banner .banner-container {
    background-color: #8BC4B9;
  }
}
/* ========================================================================
 * SECTION - FEATURES
 * ======================================================================== */
#features .feature-list .media-left i {
  color: #8BC4B9;
}

