<div class="row">
    <div class="col-md-12">
        <div class="callout callout-info mb-20">
            <a href="http://morrisjs.github.io/morris.js/" target="_blank">Morris.js</a> is the library that powers the graphs on <a href="http://howmanyleft.co.uk/" target="_blank">howmanyleft</a>. It's a very simple API for drawing line, bar, area and donut charts.
        </div>
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-md-6">

        <!-- Start line chart -->
        <div class="panel rounded shadow panel-danger">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Line</h3>
                </div>
                <div class="pull-right">
                    <button data-tooltip data-refresh-panel class="btn btn-sm" data-action="refresh" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Refresh"><i class="fa fa-refresh"></i></button>
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button data-tooltip data-remove-panel class="btn btn-sm" data-action="remove" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                <div data-morris-line-chart class="chart"></div>
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <!--/ End line chart -->

    </div>
    <div class="col-md-6">

        <!-- Start area chart -->
        <div class="panel rounded shadow panel-success">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Area</h3>
                </div>
                <div class="pull-right">
                    <button data-tooltip data-refresh-panel class="btn btn-sm" data-action="refresh" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Refresh"><i class="fa fa-refresh"></i></button>
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button data-tooltip data-remove-panel class="btn btn-sm" data-action="remove" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                <div data-morris-area-chart class="chart"></div>
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <!--/ End area chart -->

    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-md-6">

        <!-- Start bar chart -->
        <div class="panel rounded shadow panel-lilac">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Bar</h3>
                </div>
                <div class="pull-right">
                    <button data-tooltip data-refresh-panel class="btn btn-sm" data-action="refresh" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Refresh"><i class="fa fa-refresh"></i></button>
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button data-tooltip data-remove-panel class="btn btn-sm" data-action="remove" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                <div data-morris-bar-chart class="chart"></div>
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <!--/ End bar chart -->

    </div>
    <div class="col-md-6">

        <!-- Start donut chart -->
        <div class="panel rounded shadow panel-info">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Donut</h3>
                </div>
                <div class="pull-right">
                    <button data-tooltip data-refresh-panel class="btn btn-sm" data-action="refresh" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Refresh"><i class="fa fa-refresh"></i></button>
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button data-tooltip data-remove-panel class="btn btn-sm" data-action="remove" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                <div data-morris-donut-chart class="chart"></div>
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <!--/ End donut chart -->

    </div>
</div><!-- /.row -->