/* ========================================================================
 * COMPONENT BUTTON
 * ======================================================================== */
.btn {
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0.2s ease-out 0s;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
  border-color: #3b5998;
}
.btn-facebook:focus, .btn-facebook.focus {
  color: #ffffff;
  background-color: #2d4373;
  border-color: #17233c;
}
.btn-facebook:hover {
  color: #ffffff;
  background-color: #2d4373;
  border-color: #2a3f6c;
}
.btn-facebook:active, .btn-facebook.active, .open > .btn-facebook.dropdown-toggle {
  color: #ffffff;
  background-color: #2d4373;
  border-color: #2a3f6c;
}
.btn-facebook:active:hover, .btn-facebook:active:focus, .btn-facebook:active.focus, .btn-facebook.active:hover, .btn-facebook.active:focus, .btn-facebook.active.focus, .open > .btn-facebook.dropdown-toggle:hover, .open > .btn-facebook.dropdown-toggle:focus, .open > .btn-facebook.dropdown-toggle.focus {
  color: #ffffff;
  background-color: #23345a;
  border-color: #17233c;
}
.btn-facebook:active, .btn-facebook.active, .open > .btn-facebook.dropdown-toggle {
  background-image: none;
}
.btn-facebook.disabled, .btn-facebook.disabled:hover, .btn-facebook.disabled:focus, .btn-facebook.disabled.focus, .btn-facebook.disabled:active, .btn-facebook.disabled.active, .btn-facebook[disabled], .btn-facebook[disabled]:hover, .btn-facebook[disabled]:focus, .btn-facebook[disabled].focus, .btn-facebook[disabled]:active, .btn-facebook[disabled].active, fieldset[disabled] .btn-facebook, fieldset[disabled] .btn-facebook:hover, fieldset[disabled] .btn-facebook:focus, fieldset[disabled] .btn-facebook.focus, fieldset[disabled] .btn-facebook:active, fieldset[disabled] .btn-facebook.active {
  background-color: #3b5998;
  border-color: #3b5998;
}
.btn-facebook .badge {
  color: #3b5998;
  background-color: #ffffff;
}

.btn-twitter {
  color: #ffffff;
  background-color: #55acee;
  border-color: #55acee;
}
.btn-twitter:focus, .btn-twitter.focus {
  color: #ffffff;
  background-color: #2795e9;
  border-color: #126db2;
}
.btn-twitter:hover {
  color: #ffffff;
  background-color: #2795e9;
  border-color: #1d91e8;
}
.btn-twitter:active, .btn-twitter.active, .open > .btn-twitter.dropdown-toggle {
  color: #ffffff;
  background-color: #2795e9;
  border-color: #1d91e8;
}
.btn-twitter:active:hover, .btn-twitter:active:focus, .btn-twitter:active.focus, .btn-twitter.active:hover, .btn-twitter.active:focus, .btn-twitter.active.focus, .open > .btn-twitter.dropdown-toggle:hover, .open > .btn-twitter.dropdown-toggle:focus, .open > .btn-twitter.dropdown-toggle.focus {
  color: #ffffff;
  background-color: #1583d7;
  border-color: #126db2;
}
.btn-twitter:active, .btn-twitter.active, .open > .btn-twitter.dropdown-toggle {
  background-image: none;
}
.btn-twitter.disabled, .btn-twitter.disabled:hover, .btn-twitter.disabled:focus, .btn-twitter.disabled.focus, .btn-twitter.disabled:active, .btn-twitter.disabled.active, .btn-twitter[disabled], .btn-twitter[disabled]:hover, .btn-twitter[disabled]:focus, .btn-twitter[disabled].focus, .btn-twitter[disabled]:active, .btn-twitter[disabled].active, fieldset[disabled] .btn-twitter, fieldset[disabled] .btn-twitter:hover, fieldset[disabled] .btn-twitter:focus, fieldset[disabled] .btn-twitter.focus, fieldset[disabled] .btn-twitter:active, fieldset[disabled] .btn-twitter.active {
  background-color: #55acee;
  border-color: #55acee;
}
.btn-twitter .badge {
  color: #55acee;
  background-color: #ffffff;
}

/* ========================================================================
 * COMPONENT LABEL
 * ======================================================================== */
.label {
  padding: 0.5em 0.7em 0.4em 0.5em;
}

/* ========================================================================
 * COMPONENT TYPOGRAPHY
 * ======================================================================== */
.text-title {
  color: #242424;
}

.text-subtitle {
  color: #959698;
}

.text-thin {
  font-weight: 300;
}

/* ========================================================================
 * COMPONENT MISC
 * ======================================================================== */
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.mt-25 {
  margin-top: 25px !important;
}

/* ========================================================================
 * COMMON
 * ======================================================================== */
.section-header {
  margin-bottom: 45px;
}

/* ========================================================================
 * BACK TOP
 * ======================================================================== */
#back-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  text-align: center;
  background-color: #FCFCFC;
  border: 1px solid #DEDEDE;
  width: 40px;
  height: 40px;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0.2s ease-out 0s;
}
#back-top:hover i {
  color: #c5c5c5;
}
#back-top i {
  font-size: 20px;
  line-height: 35px;
  color: #DEDEDE;
}
