/* ========================================================================
 * PLUGIN - PRELOADER
 * ======================================================================== */
#loader-wrapper .loader-section {
  background-color: #d50000;
}

/* ========================================================================
 * PLUGIN - SLIDER REVOLUTION
 * ======================================================================== */
.tp-caption.RedDot, .RedDot {
  background-color: #d50000 !important;
}
.tp-caption.RedDot:hover, .RedDot:hover {
  border-color: #a20000 !important;
}

/* ========================================================================
 * SECTION - BANNER
 * ======================================================================== */
@media (max-width: 640px) {
  #banner .banner-container {
    background-color: #d50000;
  }
}
/* ========================================================================
 * SECTION - FEATURES
 * ======================================================================== */
#features .feature-list .media-left i {
  color: #d50000;
}
