<div class="row">
    <div class="col-md-12">

        <!-- Start basic slider -->
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Basic Slider</h3>
                </div>
                <div class="pull-right">
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button data-tooltip data-remove-panel class="btn btn-sm" data-action="remove" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="slider-theme">
                                <input data-slider1 type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                </form>
                <hr/>
                <h5>Sample basic slider</h5>
                <form class="form-horizontal form-bordered">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="slider-theme">
                                <input data-slider2 type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="slider-theme">
                                <input data-slider3 type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="slider-theme">
                                <input data-slider4 type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                </form>

            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <!--/ End basic slider -->

    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-md-6">

        <!-- Start contextual classes slider -->
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Contextual Classes Slider</h3>
                </div>
                <div class="pull-right">
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button data-tooltip data-remove-panel class="btn btn-sm" data-action="remove" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Default Slider</label>
                        <div class="col-sm-7">
                            <div class="slider-theme">
                                <input data-default-slider type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Primary Slider</label>
                        <div class="col-sm-7">
                            <div class="slider-primary">
                                <input data-primary-slider type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Success Slider</label>
                        <div class="col-sm-7">
                            <div class="slider-success">
                                <input data-success-slider type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Info Slider</label>
                        <div class="col-sm-7">
                            <div class="slider-info">
                                <input data-info-slider type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Warning Slider</label>
                        <div class="col-sm-7">
                            <div class="slider-warning">
                                <input data-warning-slider type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Danger Slider</label>
                        <div class="col-sm-7">
                            <div class="slider-danger">
                                <input data-danger-slider type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Lilac Slider</label>
                        <div class="col-sm-7">
                            <div class="slider-lilac">
                                <input data-lilac-slider type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Teal Slider</label>
                        <div class="col-sm-7">
                            <div class="slider-teal">
                                <input data-teal-slider type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Inverse Slider</label>
                        <div class="col-sm-7">
                            <div class="slider-inverse">
                                <input data-inverse-slider type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                </form>

            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <!--/ End contextual classes slider -->

    </div>
    <div class="col-md-6">

        <!-- Start type slider -->
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Type Slider</h3>
                </div>
                <div class="pull-right">
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button data-tooltip data-remove-panel class="btn btn-sm" data-action="remove" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Bar Skin</label>
                        <div class="col-sm-7">
                            <div class="slider-theme">
                                <input data-type-slider1 type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Circle Skin</label>
                        <div class="col-sm-7">
                            <div class="slider-theme circle">
                                <input data-type-slider2 type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Donut Skin</label>
                        <div class="col-sm-7">
                            <div class="slider-theme donut">
                                <input data-type-slider3 type="text" name="" value="" />
                            </div>
                        </div>
                    </div>
                </form>

            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <!--/ End type slider -->

    </div>
</div><!-- /.row -->