/* ========================================================================
 * SECTION BANNER
 * ======================================================================== */
#banner{
  width:640px;
  height:320px;
  margin:120px auto;
  .metis{
    .tp-tab-number{
      line-height: 40px;
    }
  }
}