// Color theme
$color-theme: #1890C0;

// Color typography
$color-text-title: #242424;
$color-text-subtitle: #959698;

// Color social
$color-social-adobe             : #ff0000;
$color-social-bitbucket         : #205081;
$color-social-behance           : #053eff;
$color-social-delicious         : #205cc0;
$color-social-dribbble          : #ea4c89;
$color-social-facebook          : #3b5998;
$color-social-flickr            : #ff0084;
$color-social-forrst            : #5b9a68;
$color-social-foursquare        : #25a0ca;
$color-social-googleplus        : #db4a39;
$color-social-instagram         : #3f729b;
$color-social-kippt             : #e03500;
$color-social-linkedin          : #0e76a8;
$color-social-linkility         : #144966;
$color-social-path              : #e41f11;
$color-social-pinterest         : #c8232c;
$color-social-pocket            : #ee4056;
$color-social-rdio              : #008fd5;
$color-social-rss               : #ee802f;
$color-social-skype             : #00aff0;
$color-social-soundcloud        : #ff7700;
$color-social-spotify           : #81b71a;
$color-social-tumblr            : #34526f;
$color-social-twitter           : #55acee;
$color-social-vimeo             : #86c9ef;
$color-social-wordpress         : #21759b;
$color-social-yahoo             : #720e9e;
$color-social-youtube           : #c4302b;
$color-social-github            : #EEEEEE;

// Color misc
$color-border: #DEDEDE;