<div class="row">
    <div class="col-md-12">
        <!-- Start table horizontal scroll -->
        <h4 class="mt-0">Sample Table</h4>
        <div class="table-responsive mb-20">
            <table class="table table-striped table-success">
                <thead>
                <tr>
                    <th class="text-center border-right">No.</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Position</th>
                    <th class="text-center">Rating</th>
                    <th class="text-center">Progress</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="table in tables.sampleTable">
                        <td class="text-center border-right">{{$index + 1}}</td>
                        <td>
                            <img src="http://img.djavaui.com/?create=35x35,4888E1?f=ffffff" class="img-circle img-bordered-theme" alt="{{table.name}}">
                            <span>{{table.name}}</span>
                        </td>
                        <td>{{table.location}}</td>
                        <td>{{table.position}}</td>
                        <td class="text-center">
                            <div data-ng-show="table.rating != 0" class="rating">
                                <span data-ng-class="{'active': table.rating == 5}" class="star"></span>
                                <span data-ng-class="{'active': table.rating == 4}" class="star"></span>
                                <span data-ng-class="{'active': table.rating == 3}" class="star"></span>
                                <span data-ng-class="{'active': table.rating == 2}" class="star"></span>
                                <span data-ng-class="{'active': table.rating == 1}" class="star"></span>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="progress progress-xs no-margin">
                                <div class="progress-bar progress-bar-theme" style="width: {{table.progress}}%;"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <a data-tooltip href="#" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="View detail"><i class="fa fa-eye"></i></a>
                            <a data-tooltip href="#" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                            <a data-tooltip href="#" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th class="text-center border-right">No.</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Position</th>
                    <th class="text-center">Rating</th>
                    <th class="text-center">Progress</th>
                    <th class="text-center">Action</th>
                </tr>
                </tfoot>
            </table>
        </div><!-- /.table-responsive -->
        <!--/ End table horizontal scroll -->
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-md-6">
        <!-- Start basic table -->
        <h4 class="no-margin">Basic example</h4>
        <p>For basic styling add the base class <code>.table</code> to any <code>&lt;table&gt;</code>.</p>
        <div class="table-responsive mb-20">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="table in tables.basicTable">
                        <td class="text-center">{{$index + 1}}</td>
                        <td>{{table.column1}}</td>
                        <td>{{table.column2}}</td>
                        <td>{{table.column3}}</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
        <!--/ End basic table -->

    </div>
    <div class="col-md-6">

        <!-- Start striped table -->
        <h4 class="no-margin">Striped rows</h4>
        <p>Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.</p>
        <div class="table-responsive mb-20">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="table in tables.stripedTable">
                        <td class="text-center">{{$index + 1}}</td>
                        <td>{{table.column1}}</td>
                        <td>{{table.column2}}</td>
                        <td>{{table.column3}}</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
        <!--/ End striped table -->

    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-md-6">

        <!-- Start bordered table -->
        <h4 class="no-margin">Bordered table</h4>
        <p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
        <div class="table-responsive mb-20">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="table in tables.borderedTable">
                        <td class="text-center">{{$index + 1}}</td>
                        <td>{{table.column1}}</td>
                        <td>{{table.column2}}</td>
                        <td>{{table.column3}}</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
        <!--/ End bordered table -->

    </div>
    <div class="col-md-6">

        <!-- Start hover table -->
        <h4 class="no-margin">Hover rows</h4>
        <p>Add <code>.table-hover</code> to enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.</p>
        <div class="table-responsive mb-20">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="table in tables.hoverTable">
                        <td class="text-center">{{$index + 1}}</td>
                        <td>{{table.column1}}</td>
                        <td>{{table.column2}}</td>
                        <td>{{table.column3}}</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
        <!--/ End hover table -->

    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-md-6">
        <!-- Start condensed table -->
        <h4 class="no-margin">Table with checkbox</h4>
        <p>An example of table with checkbox in every rows.</p>
        <div class="table-responsive mb-20">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 45px">
                            <div class="ckbox ckbox-success">
                                <input id="checkbox0" type="checkbox">
                                <label for="checkbox0"></label>
                            </div>
                        </th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="table in tables.checkboxTable">
                        <td class="text-center">
                            <div class="ckbox ckbox-success">
                                <input id="checkbox{{$index + 1}}" type="checkbox">
                                <label for="checkbox{{$index + 1}}"></label>
                            </div>
                        </td>
                        <td>{{table.column1}}</td>
                        <td>{{table.column2}}</td>
                        <td>{{table.column3}}</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
        <!--/ End condensed table -->

    </div>
    <div class="col-md-6">

        <!-- Start table with actions -->
        <h4 class="no-margin">Table with actions</h4>
        <p>An example of table with actions in every rows.</p>
        <div class="table-responsive mb-20">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th class="text-center" style="min-width: 15%">Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="table in tables.actionTable">
                        <td class="text-center">{{$index + 1}}</td>
                        <td>{{table.column1}}</td>
                        <td>{{table.column2}}</td>
                        <td>{{table.column3}}</td>
                        <td class="text-center">
                            <a data-tooltip href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="view detail"><i class="fa fa-eye"></i></a>
                            <a data-tooltip href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="edit"><i class="fa fa-edit"></i></a>
                            <a data-tooltip href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="delete"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
        <!--/ End table with actions -->

    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <!-- Start contextual classes row -->
        <h4 class="no-margin">Contextual classes row <span class="label label-danger">NEW</span></h4>
        <p>Use contextual classes to color <code>table rows</code>.</p>
        <div class="table-responsive mb-20">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center" style="width: 45px">#</th>
                    <th>Class Name</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="table in tables.contextualClassesRowTable" data-ng-class="table.class">
                    <td class="text-center">{{$index + 1}}</td>
                    <td>{{table.class}}</td>
                    <td>{{table.column1}}</td>
                    <td>{{table.column2}}</td>
                    <td>{{table.column3}}</td>
                    <td>{{table.column4}}</td>
                </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
        <!--/ End contextual classes row -->

    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <!-- Start contextual classes column -->
        <h4 class="no-margin">Contextual classes column <span class="label label-danger">NEW</span></h4>
        <p>Use contextual classes to color table <code>individual cells</code>.</p>
        <div class="table-responsive mb-20">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center" style="width: 45px">#</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="table in tables.contextualClassesColumnTable">
                    <td class="text-center">{{$index + 1}}</td>
                    <td class="{{table.classActive}}">{{table.classActive}}</td>
                    <td class="{{table.classSuccess}}">{{table.classSuccess}}</td>
                    <td class="{{table.classInfo}}">{{table.classInfo}}</td>
                    <td class="{{table.classWarning}}">{{table.classWarning}}</td>
                    <td class="{{table.classDanger}}">{{table.classDanger}}</td>
                </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
        <!--/ End contextual classes column -->

    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-md-12">

        <!-- Start responsive table -->
        <h4 class="no-margin">Responsive tables</h4>
        <p>Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive</code> to make them scroll horizontally up to small devices (under 768px). When viewing on anything larger than 768px wide, you will not see any difference in these tables.</p>
        <div class="table-responsive mb-20">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="table in tables.responsiveTable">
                    <td class="text-center">{{$index + 1}}</td>
                    <td>{{table.column1}}</td>
                    <td>{{table.column2}}</td>
                    <td>{{table.column3}}</td>
                    <td>{{table.column4}}</td>
                    <td>{{table.column5}}</td>
                    <td>{{table.column6}}</td>
                </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
        <!--/ End responsive table -->

    </div>
</div><!-- /.row -->