<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-bars"></i> Tabs & Accordion <span>general ui components</span></h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="dashboard.html">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Components</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Tabs & Accordion</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->

<!-- Start body content -->
<div class="body-content animated fadeIn" id="body-content">
    <div class="row">
        <div class="col-md-12">
            <p class="lead">Add quick, dynamic tab functionality to transition through panes of local content</p>
            <!-- Start default tabs -->
            <div class="panel panel-tab rounded shadow">
                <!-- Start tabs heading -->
                <div class="panel-heading no-padding">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1-1" data-toggle="tab">
                                <i class="fa fa-user"></i>
                                <span>Personal</span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab1-2" data-toggle="tab">
                                <i class="fa fa-file-text"></i>
                                <span>Product</span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab1-3" data-toggle="tab">
                                <i class="fa fa-credit-card"></i>
                                <span>Payment</span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab1-4" data-toggle="tab">
                                <i class="fa fa-check-circle"></i>
                                <span>Confirmation</span>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.panel-heading -->
                <!--/ End tabs heading -->

                <!-- Start tabs content -->
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1-1">
                            <h4>Personal details content</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="tab1-2">
                            <h4>Product details content</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="tab1-3">
                            <h4>Payment content</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="tab1-4">
                            <h4>Confirmation content</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div><!-- /.panel-body -->
                <!--/ End tabs content -->
            </div><!-- /.panel -->
            <!--/ End default tabs -->

        </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-12">

            <!-- Start double tabs -->
            <div class="panel panel-tab panel-tab-double rounded shadow">
                <!-- Start tabs heading -->
                <div class="panel-heading no-padding">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab2-1" data-toggle="tab">
                                <i class="fa fa-user"></i>
                                <div>
                                    <span class="text-strong">Step 1</span>
                                    <span>Personal details</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#tab2-2" data-toggle="tab">
                                <i class="fa fa-file-text"></i>
                                <div>
                                    <span class="text-strong">Step 2</span>
                                    <span>Product details</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#tab2-3" data-toggle="tab">
                                <i class="fa fa-credit-card"></i>
                                <div>
                                    <span class="text-strong">Step 3</span>
                                    <span>Payment</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#tab2-4" data-toggle="tab">
                                <i class="fa fa-check-circle"></i>
                                <div>
                                    <span class="text-strong">Step 4</span>
                                    <span>Confirmation</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.panel-heading -->
                <!--/ End tabs heading -->

                <!-- Start tabs content -->
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab2-1">
                            <h4>Personal details content</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="tab2-2">
                            <h4>Product details content</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="tab2-3">
                            <h4>Payment content</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="tab2-4">
                            <h4>Confirmation content</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div><!-- /.panel-body -->
                <!--/ End tabs content -->
            </div><!-- /.panel -->
            <!--/ End double tabs -->

        </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-12">

            <!-- Start vertical tabs -->
            <div class="panel panel-tab panel-tab-double panel-tab-vertical row no-margin mb-15 rounded shadow">
                <!-- Start tabs heading -->
                <div class="panel-heading no-padding col-lg-3 col-md-3 col-sm-3">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab3-1" data-toggle="tab">
                                <i class="fa fa-user"></i>
                                <div>
                                    <span class="text-strong">Step 1</span>
                                    <span>Personal details</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#tab3-2" data-toggle="tab">
                                <i class="fa fa-file-text"></i>
                                <div>
                                    <span class="text-strong">Step 2</span>
                                    <span>Product details</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#tab3-3" data-toggle="tab">
                                <i class="fa fa-credit-card"></i>
                                <div>
                                    <span class="text-strong">Step 3</span>
                                    <span>Payment</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#tab3-4" data-toggle="tab">
                                <i class="fa fa-check-circle"></i>
                                <div>
                                    <span class="text-strong">Step 4</span>
                                    <span>Confirmation</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.panel-heading -->
                <!--/ End tabs heading -->

                <!-- Start tabs content -->
                <div class="panel-body col-lg-9 col-md-9 col-sm-9">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab3-1">
                            <h4>Personal details content</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="tab3-2">
                            <h4>Product details content</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="tab3-3">
                            <h4>Payment content</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="tab3-4">
                            <h4>Confirmation content</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div><!-- /.panel-body -->
                <!--/ End tabs content -->
            </div><!-- /.panel -->
            <!--/ End vertical tabs -->

        </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-12">

            <!-- Start vertical tabs with pagination -->
            <div id="basic-wizard-vertical">
                <div class="panel panel-tab panel-tab-double panel-tab-vertical row no-margin mb-15 rounded shadow">
                    <!-- Start tabs heading -->
                    <div class="panel-heading no-padding col-lg-3 col-md-3 col-sm-3">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab4-1" data-toggle="tab">
                                    <i class="fa fa-user"></i>
                                    <div>
                                        <span class="text-strong">Step 1</span>
                                        <span>Personal details</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#tab4-2" data-toggle="tab">
                                    <i class="fa fa-file-text"></i>
                                    <div>
                                        <span class="text-strong">Step 2</span>
                                        <span>Product details</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#tab4-3" data-toggle="tab">
                                    <i class="fa fa-credit-card"></i>
                                    <div>
                                        <span class="text-strong">Step 3</span>
                                        <span>Payment</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#tab4-4" data-toggle="tab">
                                    <i class="fa fa-check-circle"></i>
                                    <div>
                                        <span class="text-strong">Step 4</span>
                                        <span>Confirmation</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.panel-heading -->
                    <!--/ End tabs heading -->

                    <!-- Start tabs content -->
                    <div class="panel-body col-lg-9 col-md-9 col-sm-9">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab4-1">
                                <h4>Personal details content</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="tab-pane fade" id="tab4-2">
                                <h4>Product details content</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="tab-pane fade" id="tab4-3">
                                <h4>Payment content</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="tab-pane fade" id="tab4-4">
                                <h4>Confirmation content</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                        <!-- Start pagination -->
                        <div class="panel-footer no-bg">
                            <ul class="pagination no-margin pull-right">
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                        <!--/ End pagination -->
                    </div><!-- /.panel-body -->
                    <!--/ End tabs content -->
                </div><!-- /.panel -->
            </div>
            <!--/ End vertical tabs with pagination -->

        </div>
    </div><!-- /.row -->
    <p class="lead">Get base styles and flexible support for collapsible components like accordions and navigation.</p>
    <div class="row">
        <div class="col-md-12">

            <!-- Start accordion -->
            <div class="panel-group rounded shadow" id="accordion1">
                <div class="panel panel-default">
                    <div class="panel-heading no-border">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1-1">
                                Collapsible Group Item #1
                            </a>
                        </h4>
                    </div><!-- /.panel-heading -->
                    <div id="collapse1-1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div><!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading no-border">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1-2">
                                Collapsible Group Item #2
                            </a>
                        </h4>
                    </div><!-- /.panel-heading -->
                    <div id="collapse1-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div><!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading no-border">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1-3">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div><!-- /.panel-heading -->
                    <div id="collapse1-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div><!-- /.panel -->
            </div><!-- /.panel-group -->
            <!--/ End accordion -->

        </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-12">

            <!-- Start accordion menu -->
            <div class="panel-group rounded shadow" id="accordion2">
                <div class="panel panel-default">
                    <div class="panel-heading no-border">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2-1"><span class="glyphicon glyphicon-folder-close"></span> Home</a>
                        </h4>
                    </div><!-- /.panel-heading -->
                    <div id="collapse2-1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tbody><tr>
                                    <td>
                                        <a href="#"><span class="glyphicon glyphicon-pencil text-primary"></span> Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"><span class="glyphicon glyphicon-flash text-success"></span> News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"><span class="glyphicon glyphicon-file text-info"></span> About</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"><span class="glyphicon glyphicon-comment text-success"></span> Comments</a> <span class="badge">42</span>
                                    </td>
                                </tr>
                                </tbody></table>
                        </div>
                    </div>
                </div><!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading no-border">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2-2"><span class="glyphicon glyphicon-user"></span> Profile</a>
                        </h4>
                    </div><!-- /.panel-heading -->
                    <div id="collapse2-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tbody><tr>
                                    <td>
                                        <a href="#">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Notifications</a> <span class="label label-info">9</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Import</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="text-danger"><span class="glyphicon glyphicon-trash text-danger"></span> Delete Account</a>
                                    </td>
                                </tr>
                                </tbody></table>
                        </div>
                    </div>
                </div><!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading no-border">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2-3"><span class="glyphicon glyphicon-th"></span> Examples</a>
                        </h4>
                    </div><!-- /.panel-heading -->
                    <div id="collapse2-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tbody><tr>
                                    <td>
                                        <a href="#">Orders</a> <span class="label label-success">$ 42</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Logging</a>
                                    </td>
                                </tr>
                                </tbody></table>
                        </div>
                    </div>
                </div><!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading no-border">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2-4">
                                <span class="glyphicon glyphicon-file"></span> Reports</a>
                        </h4>
                    </div><!-- /.panel-heading -->
                    <div id="collapse2-4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tbody><tr>
                                    <td>
                                        <a href="#"><span class="glyphicon glyphicon-usd"></span> Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"><span class="glyphicon glyphicon-user"></span> Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"><span class="glyphicon glyphicon-tasks"></span> Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</a>
                                    </td>
                                </tr>
                                </tbody></table>
                        </div>
                    </div>
                </div><!-- /.panel -->
            </div><!-- /.panel-group -->
            <!-- End accordion menu -->

        </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-12">

            <!-- Start accordion menu sidebar -->
            <div class="list-group panel rounded shadow">
                <!--IMPORTANT: DEPENDING THE BOOTSTRAP VERSION YOU ARE USING YOU WILL NEED TO CHANGE THE <i> tag FROM "fa fa-caret-down" TO SIMPLY "caret" TO DISPLAY THE SAME DOWN ARROW-->
                <a href="#demo3" class="list-group-item  strong" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-home"></i> Item 1 <i class="fa fa-caret-down"></i></a>
                <div class="collapse" id="demo3">
                    <a href="#SubMenu1" class="list-group-item strong" data-toggle="collapse" data-parent="#SubMenu1">Subitem 1 <i class="fa fa-caret-down"></i></a>
                    <div class="collapse list-group-submenu" id="SubMenu1">
                        <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 1</a>
                        <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 2</a>
                        <a href="#SubSubMenu1" class="list-group-item strong" data-toggle="collapse" data-parent="#SubSubMenu1">
                            <!--CUSTOMIZED SUBMENU ITEM WITH GLYPHICON-->
                            <i class="glyphicon glyphicon-user"></i> Subitem 3 <i class="fa fa-caret-down"></i></a>
                        <div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu1">
                            <a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 3.1</a>
                            <a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 3.2</a>
                        </div>
                        <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 4</a>
                        <a href="#SubSubMenu3" class="list-group-item strong" data-toggle="collapse" data-parent="#SubSubMenu3">
                            <!--CUSTOMIZED SUBMENU ITEM WITH GLYPHICON-->
                            <i class="glyphicon glyphicon-dashboard"></i> Subitem 5 <i class="fa fa-caret-down"></i></a>
                        <div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu3">
                            <a href="#" class="list-group-item" data-parent="#SubSubMenu3">Sub sub item 5.1</a>
                            <a href="#" class="list-group-item" data-parent="#SubSubMenu3">Sub sub item 5.2</a>
                        </div>
                    </div>
                    <a href="#" class="list-group-item">Subitem 2</a>
                    <a href="#" class="list-group-item">Subitem 3</a>
                </div><!-- /.collapse -->
                <a href="#demo4" class="list-group-item  strong" data-toggle="collapse" data-parent="#MainMenu">Item 2 <i class="fa fa-caret-down"></i></a>
                <div class="collapse" id="demo4">
                    <a href="#" class="list-group-item">Subitem 1</a>
                    <a href="#SubSubMenu4" class="list-group-item strong" data-toggle="collapse" data-parent="#SubSubMenu4"><i class="glyphicon glyphicon-thumbs-up"></i> Subitem 2 <i class="fa fa-caret-down"></i></a>
                    <div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu4">
                        <a href="#" class="list-group-item" data-parent="#SubSubMenu1">
                            <!--CUSTOMIZED SUBMENU ITEM WITH GLYPHICON-->
                            <i class="glyphicon glyphicon-flag"></i> Sub sub item 1
                        </a>
                        <a href="#" class="list-group-item" data-parent="#SubSubMenu1">
                            <!--CUSTOMIZED SUBMENU ITEM WITH GLYPHICON-->
                            <i class="glyphicon glyphicon-cog"></i> Sub sub item 2
                        </a>
                    </div>
                    <a href="#" class="list-group-item">Subitem 3</a>
                </div><!-- /.collapse -->
            </div><!-- /.list-group -->
            <!--/ End accordion menu sidebar -->

        </div>
    </div><!-- /.row -->
</div><!-- /.body-content -->
<!--/ End body content -->