<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-paw"></i> Simple Line Icons <span>icon components</span></h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="dashboard.html">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Components</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Icons</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Simple Line Icons</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->
<!--/ End page header -->

<!-- Start body content -->
<div class="body-content animated fadeIn" id="body-content">
    <div class="row">
        <div class="col-md-12">

            <!-- Start new icons -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">Simple Line Icons</h3>
                    </div><!-- /.pull-left -->
                    <div class="pull-right">
                        <button class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                        <button class="btn btn-sm" data-action="remove" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                    </div><!-- /.pull-right -->
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-body" style="padding-left: 20px">
                <div class="row">
                <div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-user-female icons"></i><span class="name">icon-user-female icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-user-follow icons"></i><span class="name">icon-user-follow icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-user-following icons"></i><span class="name">icon-user-following icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-user-unfollow icons"></i><span class="name">icon-user-unfollow icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-trophy icons"></i><span class="name">icon-trophy icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-screen-smartphone icons"></i><span class="name">icon-screen-smartphone icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-screen-desktop icons"></i><span class="name">icon-screen-desktop icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-plane icons"></i><span class="name">icon-plane icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-notebook icons"></i><span class="name">icon-notebook icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-moustache icons"></i><span class="name">icon-moustache icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-mouse icons"></i><span class="name">icon-mouse icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-magnet icons"></i><span class="name">icon-magnet icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-energy icons"></i><span class="name">icon-energy icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-emoticon-smile icons"></i><span class="name">icon-emoticon-smile icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-disc icons"></i><span class="name">icon-disc icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-cursor-move icons"></i><span class="name">icon-cursor-move icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-crop icons"></i><span class="name">icon-crop icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-credit-card icons"></i><span class="name">icon-credit-card icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-chemistry icons"></i><span class="name">icon-chemistry icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-user icons"></i><span class="name">icon-user icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-speedometer icons"></i><span class="name">icon-speedometer icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-social-youtube icons"></i><span class="name">icon-social-youtube icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-social-twitter icons"></i><span class="name">icon-social-twitter icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-social-tumblr icons"></i><span class="name">icon-social-tumblr icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-social-facebook icons"></i><span class="name">icon-social-facebook icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-social-dropbox icons"></i><span class="name">icon-social-dropbox icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-social-dribbble icons"></i><span class="name">icon-social-dribbble icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-shield icons"></i><span class="name">icon-shield icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-screen-tablet icons"></i><span class="name">icon-screen-tablet icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-magic-wand icons"></i><span class="name">icon-magic-wand icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-hourglass icons"></i><span class="name">icon-hourglass icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-graduation icons"></i><span class="name">icon-graduation icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-ghost icons"></i><span class="name">icon-ghost icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-game-controller icons"></i><span class="name">icon-game-controller icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-fire icons"></i><span class="name">icon-fire icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-eyeglasses icons"></i><span class="name">icon-eyeglasses icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-envelope-open icons"></i><span class="name">icon-envelope-open icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-envelope-letter icons"></i><span class="name">icon-envelope-letter icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-bell icons"></i><span class="name">icon-bell icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-badge icons"></i><span class="name">icon-badge icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-anchor icons"></i><span class="name">icon-anchor icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-wallet icons"></i><span class="name">icon-wallet icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-vector icons"></i><span class="name">icon-vector icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-speech icons"></i><span class="name">icon-speech icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-puzzle icons"></i><span class="name">icon-puzzle icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-printer icons"></i><span class="name">icon-printer icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-present icons"></i><span class="name">icon-present icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-playlist icons"></i><span class="name">icon-playlist icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-pin icons"></i><span class="name">icon-pin icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-picture icons"></i><span class="name">icon-picture icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-map icons"></i><span class="name">icon-map icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-layers icons"></i><span class="name">icon-layers icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-handbag icons"></i><span class="name">icon-handbag icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-globe-alt icons"></i><span class="name">icon-globe-alt icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-globe icons"></i><span class="name">icon-globe icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-frame icons"></i><span class="name">icon-frame icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-folder-alt icons"></i><span class="name">icon-folder-alt icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-film icons"></i><span class="name">icon-film icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-feed icons"></i><span class="name">icon-feed icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-earphones-alt icons"></i><span class="name">icon-earphones-alt icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-earphones icons"></i><span class="name">icon-earphones icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-drop icons"></i><span class="name">icon-drop icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-drawer icons"></i><span class="name">icon-drawer icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-docs icons"></i><span class="name">icon-docs icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-directions icons"></i><span class="name">icon-directions icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-direction icons"></i><span class="name">icon-direction icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-diamond icons"></i><span class="name">icon-diamond icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-cup icons"></i><span class="name">icon-cup icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-compass icons"></i><span class="name">icon-compass icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-call-out icons"></i><span class="name">icon-call-out icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-call-in icons"></i><span class="name">icon-call-in icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-call-end icons"></i><span class="name">icon-call-end icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-calculator icons"></i><span class="name">icon-calculator icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-bubbles icons"></i><span class="name">icon-bubbles icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-briefcase icons"></i><span class="name">icon-briefcase icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-book-open icons"></i><span class="name">icon-book-open icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-basket-loaded icons"></i><span class="name">icon-basket-loaded icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-basket icons"></i><span class="name">icon-basket icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-bag icons"></i><span class="name">icon-bag icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-action-undo icons"></i><span class="name">icon-action-undo icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-action-redo icons"></i><span class="name">icon-action-redo icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-wrench icons"></i><span class="name">icon-wrench icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-umbrella icons"></i><span class="name">icon-umbrella icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-trash icons"></i><span class="name">icon-trash icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-tag icons"></i><span class="name">icon-tag icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-support icons"></i><span class="name">icon-support icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-size-fullscreen icons"></i><span class="name">icon-size-fullscreen icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-size-actual icons"></i><span class="name">icon-size-actual icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-shuffle icons"></i><span class="name">icon-shuffle icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-share-alt icons"></i><span class="name">icon-share-alt icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-share icons"></i><span class="name">icon-share icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-rocket icons"></i><span class="name">icon-rocket icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-question icons"></i><span class="name">icon-question icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-pie-chart icons"></i><span class="name">icon-pie-chart icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-pencil icons"></i><span class="name">icon-pencil icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-note icons"></i><span class="name">icon-note icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-music-tone-alt icons"></i><span class="name">icon-music-tone-alt icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-music-tone icons"></i><span class="name">icon-music-tone icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-microphone icons"></i><span class="name">icon-microphone icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-loop icons"></i><span class="name">icon-loop icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-logout icons"></i><span class="name">icon-logout icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-login icons"></i><span class="name">icon-login icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-list icons"></i><span class="name">icon-list icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-like icons"></i><span class="name">icon-like icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-home icons"></i><span class="name">icon-home icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-grid icons"></i><span class="name">icon-grid icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-graph icons"></i><span class="name">icon-graph icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-equalizer icons"></i><span class="name">icon-equalizer icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-dislike icons"></i><span class="name">icon-dislike icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-cursor icons"></i><span class="name">icon-cursor icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-control-start icons"></i><span class="name">icon-control-start icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-control-rewind icons"></i><span class="name">icon-control-rewind icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-control-play icons"></i><span class="name">icon-control-play icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-control-pause icons"></i><span class="name">icon-control-pause icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-control-forward icons"></i><span class="name">icon-control-forward icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-control-end icons"></i><span class="name">control-end</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-calendar icons"></i><span class="name">icon-calendar icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-bulb icons"></i><span class="name">icon-bulb icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-bar-chart icons"></i><span class="name">icon-bar-chart icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-arrow-up icons"></i><span class="name">icon-arrow-up icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-arrow-right icons"></i><span class="name">icon-arrow-right icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-arrow-left icons"></i><span class="name">icon-arrow-left icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-arrow-down icons"></i><span class="name">icon-arrow-down icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-ban icons"></i><span class="name">icon-ban icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-bubble icons"></i><span class="name">icon-bubble icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-camcorder icons"></i><span class="name">icon-camcorder icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-camera icons"></i><span class="name">icon-camera icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-check icons"></i><span class="name">icon-check icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-clock icons"></i><span class="name">icon-clock icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-close icons"></i><span class="name">icon-close icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-cloud-download icons"></i><span class="name">icon-cloud-download icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-cloud-upload icons"></i><span class="name">icon-cloud-upload icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-doc icons"></i><span class="name">icon-doc icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-envelope icons"></i><span class="name">icon-envelope icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-eye icons"></i><span class="name">icon-eye icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-flag icons"></i><span class="name">icon-flag icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-folder icons"></i><span class="name">icon-folder icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-heart icons"></i><span class="name">icon-heart icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-info icons"></i><span class="name">icon-info icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-key icons"></i><span class="name">icon-key icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-link icons"></i><span class="name">icon-link icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-lock icons"></i><span class="name">icon-lock icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-lock-open icons"></i><span class="name">icon-lock-open icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-magnifier icons"></i><span class="name">icon-magnifier icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-magnifier-add icons"></i><span class="name">icon-magnifier-add icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-magnifier-remove icons"></i><span class="name">icon-magnifier-remove icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-paper-clip icons"></i><span class="name">icon-paper-clip icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-paper-plane icons"></i><span class="name">icon-paper-plane icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-plus icons"></i><span class="name">icon-plus icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-pointer icons"></i><span class="name">icon-pointer icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-power icons"></i><span class="name">icon-power icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-refresh icons"></i><span class="name">icon-refresh icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-reload icons"></i><span class="name">icon-reload icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-settings icons"></i><span class="name">icon-settings icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-star icons"></i><span class="name">icon-star icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-symbol-female icons"></i><span class="name">icon-symbol-female icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-symbol-male icons"></i><span class="name">icon-symbol-male icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-target icons"></i><span class="name">icon-target icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-volume-1 icons"></i><span class="name">icon-volume-1 icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-volume-2 icons"></i><span class="name">icon-volume-2 icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-volume-off icons"></i><span class="name">icon-volume-off icons</span>
                    </div>
                </div><div class="icon-preview-box col-xs-6 col-md-4 col-lg-4">
                    <div class="preview">
                        <i class="icon-users icons"></i><span class="name">icon-users icons</span>
                    </div>
                </div>
                </div>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
            <!--/ End new icons -->

        </div>
    </div><!-- /.row -->
</div><!-- /.body-content -->
<!--/ End body content -->