/* ========================================================================
 * PLUGIN - PRELOADER
 * ======================================================================== */
#loader-wrapper .loader-section {
  background-color: #CC6788;
}

/* ========================================================================
 * PLUGIN - SLIDER REVOLUTION
 * ======================================================================== */
.tp-caption.Creative-SubTitle, .Creative-SubTitle,
.tp-caption.Creative-Button, .Creative-Button {
  color: #CC6788 !important;
}

.metis .tp-tab.selected .tp-tab-divider {
  border-right: 1px solid #CC6788 !important;
}

/* ========================================================================
 * SECTION - BANNER
 * ======================================================================== */
@media (max-width: 640px) {
  #banner .banner-container {
    background-color: #CC6788;
  }
}
/* ========================================================================
 * SECTION - FEATURES
 * ======================================================================== */
#features .feature-list .media-left i {
  color: #CC6788;
}

























