<div data-ng-repeat="blog in blogs" class="row" id="blog-single">

    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">

        <div class="panel panel-default panel-blog rounded shadow">
            <div class="panel-body">
                <h3 class="blog-title">{{blog.content.title}}</h3>
                <ul class="blog-meta">
                    <li>By: <a href="">{{blog.content.by}}</a></li>
                    <li>{{blog.content.date}}</li>
                    <li><a href="">{{blog.content.comment}}</a></li>
                </ul>
                <div class="blog-img"><img src="http://img.djavaui.com/?create=750x500,4888E1?f=ffffff" class="img-responsive" alt="{{blog.content.image}}"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <blockquote class="hero">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit posuere erat a ante.
                    </p>
                    <small>The amazing <cite>Title</cite></small>
                </blockquote>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>

            </div><!-- panel-body -->
        </div><!-- panel-blog -->

        <div class="blog-author">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object thumbnail" src="http://img.djavaui.com/?create=100x100,6880B0?f=ffffff" alt="{{blog.author.image}}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">About The Author</h4>
                    <p>{{blog.author.about}}</p>
                </div>
            </div><!-- media -->
        </div><!-- blog-author -->

        <h5 class="comment-count">7 Comments</h5>

        <ul class="media-list comment-list">

            <li data-ng-repeat="comment in blog.comments" class="media">
                <a class="pull-left" href="#">
                    <img class="media-object thumbnail" src="http://img.djavaui.com/?create=50x50,6880B0?f=ffffff" alt="{{comment.name}}">
                </a>
                <div class="media-body">
                    <a href="#" class="btn btn-success btn-xs pull-right rounded">Reply</a>
                    <h4>{{comment.name}}</h4>
                    <small class="text-muted">{{comment.date}}</small>
                    <p>{{comment.usercomment}}</p>

                    <!--First child comment element-->
                    <div data-ng-show="comment1.name" data-ng-repeat="comment1 in comment.subcomment" class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object thumbnail" src="http://img.djavaui.com/?create=50x50,6880B0?f=ffffff" alt="{{comment1.name}}">
                        </a>
                        <div class="media-body">
                            <a href="#" class="btn btn-success btn-xs pull-right rounded">Reply</a>
                            <h4>{{comment1.name}}</h4>
                            <small class="text-muted">{{comment1.date}}</small>
                            <p>{{comment1.usercomment}}</p>

                            <!--Second child comment element-->
                            <div data-ng-show="comment2.name" data-ng-repeat="comment2 in comment1.subcomment" class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object thumbnail" src="http://img.djavaui.com/?create=50x50,6880B0?f=ffffff" alt="{{comment2.name}}">
                                </a>
                                <div class="media-body">
                                    <a href="#" class="btn btn-success btn-xs pull-right rounded">Reply</a>
                                    <h4>{{comment2.name}}</h4>
                                    <small class="text-muted">{{comment2.date}}</small>
                                    <p>{{comment2.usercomment}}</p>
                                </div>
                            </div><!-- media -->

                        </div>
                    </div><!-- media -->

                </div>
            </li><!-- media -->

        </ul><!-- comment-list -->
        <br/>
        <h5 class="comment-title mb-5">Leave A Comment</h5>
        <p class="text-muted">Your email address will not be published.</p>
        <div class="mb-20"></div>

        <form class="form-horizontal mb-20" role="form">
            <div class="form-group no-margin">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="form-control mb-15" placeholder="Name"/>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control mb-15" placeholder="Email"/>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control mb-15" placeholder="Website"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Title"/>
            </div>
            <div class="form-group">
                <textarea data-wysihtml5-textarea id="comment-form" class="form-control" rows="5" placeholder="Comment goes here ..."></textarea>
            </div>
            <div class="form-group no-margin no-padding">
                <button type="submit" class="btn btn-success pull-right rounded">Add Comment</button>
            </div>
        </form>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="blog-sidebar">
            <h5 class="blog-subtitle">{{blog.title}}</h5>
            <p>{{blog.description}}</p>

            <div class="panel transparent">
                <div class="panel-heading no-border">
                    <h4 class="no-margin">Flickr</h4>
                </div>
                <div class="panel-body no-padding transparent">
                    <div class="blog-gallery">
                        <ul class="list-inline">
                            <li>
                                <a href="#"><img src="http://img.djavaui.com/?create=64x40,81B71A?f=ffffff" alt="..."/></a>
                            </li>
                            <li>
                                <a href="#"><img src="http://img.djavaui.com/?create=64x40,81B71A?f=ffffff" alt="..."/></a>
                            </li>
                            <li>
                                <a href="#"><img src="http://img.djavaui.com/?create=64x40,81B71A?f=ffffff" alt="..."/></a>
                            </li>
                            <li>
                                <a href="#"><img src="http://img.djavaui.com/?create=64x40,81B71A?f=ffffff" alt="..."/></a>
                            </li>
                            <li>
                                <a href="#"><img src="http://img.djavaui.com/?create=64x40,81B71A?f=ffffff" alt="..."/></a>
                            </li>
                            <li>
                                <a href="#"><img src="http://img.djavaui.com/?create=64x40,81B71A?f=ffffff" alt="..."/></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-theme shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
                </div>
                <div class="panel-body no-padding">
                    <div class="list-group no-margin">
                        <a data-ng-repeat="cat in blog.categories" href="#" class="list-group-item">{{cat}}</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-theme shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Tags</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-inline blog-tags">
                        <li data-ng-repeat="tag in blog.tags">
                            <a href="#"><i class="fa fa-tags"></i> {{tag}} </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-theme shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Archives</h3>
                </div>
                <div class="panel-body no-padding">
                    <div class="list-group no-margin">
                        <a data-ng-repeat="archive in blog.archives" href="#" class="list-group-item">{{archive}}</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-theme shadow blog-list-slider">
                <div class="panel-heading">
                    <h3 class="panel-title">NEWS & UPDATES</h3>
                </div>
                <div id="carousel-blog-list" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-blog-list" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-blog-list" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="blog-list">
                                <div data-ng-repeat="news in blog.news" class="media">
                                    <a class="pull-left" href="#">
                                        <img src="http://img.djavaui.com/?create=45x30,6880B0?f=ffffff" alt="{{news.image}}" class="img-responsive img-thumbnail"/>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a data-ng-href="{{news.url}}" title="{{news.title}}">{{news.title}}</a></h4>
                                        <small class="media-desc">{{news.description}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-list">
                                <div data-ng-repeat="update in blog.update" class="media">
                                    <a class="pull-left" href="#">
                                        <img src="http://img.djavaui.com/?create=45x30,6880B0?f=ffffff" alt="{{update.title}}" class="img-responsive img-thumbnail"/>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a data-ng-href="{{update.url}}" title="{{update.title}}">{{update.title}}</a></h4>
                                        <small class="media-desc">{{update.description}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.blog-list-slider -->

            <div class="panel transparent">
                <div class="panel-heading no-border">
                    <h4 class="no-margin">Recent Twitts</h4>
                </div>
                <div class="panel-body no-padding transparent">
                    <div class="blog-twitter">
                        <div data-ng-repeat="twitt in blog.recentTwitts" class="blog-twitter-list">
                            <a data-ng-href="{{twitt.urlUsername}}" target="_blank"> {{twitt.username}} </a>
                            <p>
                                {{twitt.title}}
                            </p>
                            <a data-ng-href="{{twitt.url}}" target="_blank">
                                <em>{{twitt.url}}</em>
                            </a>
                            <span> {{twitt.time}} </span>
                            <i class="fa fa-twitter blog-twitter-icon"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- blog-sidebar -->

    </div>

</div><!-- row -->