/* ========================================================================
 * PLUGIN - PRELOADER
 * ======================================================================== */
#loader-wrapper .loader-section {
  background-color: #EEF0F1;
}

/* ========================================================================
 * SECTION - BANNER
 * ======================================================================== */
@media (max-width: 640px) {
  #banner .banner-container {
    background-color: #EEF0F1;
  }
}
/* ========================================================================
 * SECTION - FEATURES
 * ======================================================================== */
#features .feature-list .media-left i {
  color: #2D2D2D;
}
