/* ========================================================================
 * PLUGIN - PRELOADER
 * ======================================================================== */
#loader-wrapper .loader-section {
  background-color: #2AA2B0;
}

/* ========================================================================
 * PLUGIN - SLIDER REVOLUTION
 * ======================================================================== */
.tp-caption.ComingSoon-Highlight, .ComingSoon-Highlight {
  background-color: #2AA2B0;
}

/* ========================================================================
 * SECTION - BANNER
 * ======================================================================== */
@media (max-width: 640px) {
  #banner .banner-container {
    background-color: #2AA2B0;
  }
}
/* ========================================================================
 * SECTION - FEATURES
 * ======================================================================== */
#features .feature-list .media-left i {
  color: #2AA2B0;
}
